[Unit]
Description=Run SDL MySQL backup at 07:30 and 14:00 daily

[Timer]
OnCalendar=*-*-* 07:30:00
OnCalendar=*-*-* 14:00:00
Persistent=true
Unit=sdl-db-backup.service

[Install]
WantedBy=timers.target
