[Unit]
Description=SDL MySQL Full Backup
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
WorkingDirectory=%h/sdl/sdl_db_backup
ExecStart=/bin/bash %h/sdl/sdl_db_backup/mysql_full_backup.sh
Nice=10
IOSchedulingClass=best-effort
IOSchedulingPriority=7
