[Unit]
Description=Run SDL MySQL backup at 08:00 and 14:00 daily

[Timer]
OnCalendar=*-*-* 08:00:00
OnCalendar=*-*-* 14:00:00
Persistent=true
Unit=sdl-db-backup.service

[Install]
WantedBy=timers.target
